h2{
    color : red
}

.heading{
    color:royalblue;
    text-align: center;
    text-decoration: solid;
}

.tittle{
    color:red;
    text-align: center;
    text-decoration: solid;
    font-size: 25px;
}
.tile{
    display:inline-block;
    /* border-width: 2px;
    border-color: black;
    border-style: solid; */
    border:2px solid black ;
    margin-left: 50px;
    margin-bottom: 70px;
}
.img-wrapper{
    width:400px;
    height:450px;
    border:2px solid black ;
}
.img{
    width: 100%;
    height: 100%;
}
.tittle,.description{
    display: block;
    border:2px solid black ;

}

/* .imgbck{
    width : 300px;
} */
.test{
    background-color: red;
    height: 4rem;
}
.product-image{
    height: 250px;
    width: 400px;
}
.furniture-image{
        height: 350px;
        width: 200px;
}
/* .manucolor{
    background-color: dimgrey;
} */

.brand{
    text-decoration: solid;
    text-align: center;
    font-size: 125px;

}